
/* Loader Container */
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust spacing between loader and text */
  }
  
  /* Animated Text */
  .animated-text {
    display: flex;
    flex-direction: row;
  }
  
  .animated-text__letter {
    margin-top: 40px;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    color: #007bff;
    animation-name: bounce-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  /* Animation delays for letters */
  .animated-text__letter:nth-child(2) {
    animation-delay: 0.1s;
  }
  .animated-text__letter:nth-child(3) {
    animation-delay: 0.2s;
  }
  .animated-text__letter:nth-child(4) {
    animation-delay: 0.3s;
  }
  .animated-text__letter:nth-child(5) {
    animation-delay: 0.4s;
  }
  .animated-text__letter:nth-child(6) {
    animation-delay: 0.5s;
  }
  .animated-text__letter:nth-child(7) {
    animation-delay: 0.6s;
  }
  .animated-text__letter:nth-child(8) {
    animation-delay: 0.8s;
  }
  .animated-text__letter:nth-child(9) {
    animation-delay: 1s;
  }
  .animated-text__letter:nth-child(10) {
    animation-delay: 1.2s;
  }
  
  /* Bounce Animation */
  @keyframes bounce-animation {
    0% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(-40px);
    }
    80%,
    100% {
      transform: translateY(0px);
    }
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 700px) {
    .animated-text__letter {
      font-size: 50px;
    }
  }
  
  @media (max-width: 340px) {
    .animated-text__letter {
      font-size: 40px;
    }
  }
  
@media (max-width: 768px){
    .loading{
        height: 50%;
        width: 50%;
    }
}