.page {
  padding: 20px;
  background: #f8f9fa; /* Light neutral background */
  border: 1px solid #ddd; /* Subtle border for separation */
  border-radius: 8px; /* Rounded corners */
  color: #333; /* Dark text for readability */
  overflow: hidden;
  height: 100vh;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
  
@media (max-width: 768px){
  .page{
    border: none;
    box-shadow:none;
    background: #f8f9fa;
  }
}